body{
    background-color: #eae7c692;
}

.tv-icon{
    width: 61%;
    height: 53%;
}
.tv-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.film-list {
    display: table; 
    margin: 0 auto; 
    margin-top: -28%; 
    height: 500px; 
    width: 650px;
    justify-content: center;
    align-items: center;
}

.line {
    text-align: center; 
    vertical-align: middle; 
    height: 35px;
    width: 800px;
    background-color: rgba(167, 195, 255, 0.155);
}

.movie-name,
.movie-comments, 
.movie-how-much-we-wanna-see-it,
.movie-owner {
    height: 35px;
    width: 90px;
    text-wrap: nowrap; 
    font-size: medium;
    border-radius: 30px;
    align-content: start;
    align-items: start;
    text-align: start;
}

.tbody-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.film-list-table{
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    margin-top: -28%; 
    height: 450px;
    width: 800px;
    scrollbar-width: thin;
    scrollbar-color: darkgray lightgray;
}
.film-list-table::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px; 
}

.film-list-table::-webkit-scrollbar-track {
    background-color: darkgray;
}
td {
    border-radius: 30px;
    font-family: 'Sometype Mono', monospace;
    font-size: small;
    color: #260328;

}
.td-movie{
    width: 200px;
    text-align: justify;
}
.td-comments{
    width: 380px;
    text-align: left;
}
.td-owner{
    width: 80px;
}
.td-howMuchWeWannaSeeIt{
    width: 50px;
}
.add-new-button-container{
    margin-top: -226px;
    margin-right: -780px;
}
.new-button{
    width: 70px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    cursor: pointer;
}