body{
    background-color: rgba(197, 148, 210, 0.256);
}

.tv-icon{
    width: 61%;
    height: 53%;
}
.tv-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.film-list {
    display: table; /* Permite usar propriedades de tabela */
    margin: 0 auto; 
    margin-top: -28%; 
    height: 500px; /*talvez so mexer aqui*/
    width: 650px;
    justify-content: center;
    align-items: center;
}

.line {
    text-align: center; /* Alinha o conteúdo das células no centro horizontalmente */
    vertical-align: middle; 
    height: 35px;
    width: 800px;
    background-color: rgba(184, 142, 177, 0.265);/* Alinha o conteúdo das células no centro verticalmente */
}

.movie-name,
.movie-comments, 
.movie-how-much-we-wanna-see-it,
.movie-owner {
    height: 35px;
    width: 90px;
    text-wrap: nowrap; 
    font-size: medium;
    border-radius: 30px;
    align-content: start;
    align-items: start;
    text-align: start;
}

.tbody-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.film-list-table{
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
    margin-top: -23%; 
    height: 400px;
    width: 800px;
    scrollbar-width: thin; /* Largura do scrollbar (pode ser "thin", "auto", ou um valor em pixels) */
    scrollbar-color: darkgray lightgray;
}
.film-list-table::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px; /* Cantos arredondados do thumb */
}

/* Estilizando a track (trilha) */
.film-list-table::-webkit-scrollbar-track {
    background-color: darkgray;
}
td {
    border-radius: 30px;
    font-family: 'Sometype Mono', monospace;
    font-size: small;
    color: #260328;

}
.td-movie{
    width: 215px;
    text-align: justify;
}
.td-comments{
    width: 325px;
    text-align: left;
}
.td-owner{
    width: 160px;
}
.td-howMuchWeWannaSeeIt{
    width: 50px;
}
