<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
   <!-- <link rel="stylesheet" href="/style.css"> --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <title>Watchlist</title>
</head>

<body>
    <div class="title-div">
        <h1 class="title">Tilas e Doces Watchlist</h1>
    </div>
    <div class="tv-div">
       <img src="../static/tv-icon.jpeg" class="tv-icon">
      <!-- <img src="/tv-icon.jpeg" class="tv-icon">--> 
    </div>
    <div class="film-list">
        

    </div>
</body>

</html>
